################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/graphQlDotnet6/Api/GraphQlApi/obj
/graphQlDotnet6/Api/GraphQlApi/bin/Debug/net6.0
