<div *ngIf="loading">
  Loading...
</div>
<div *ngIf="error">
  Error :(
</div>
<div class="m-3">
  Mutation

<div> Add Note:
    <input type="text"  id="txtMessage" #txtMessage value="" required="true" value="{{inputText}}">
<br/>
    <button class="btn btn-primary btn-sm" title="Save" (click)="createNewNote(txtMessage.value)">Add</button>

<div *ngIf="showNoteCreatedMessage" class="text-success m-1">
    {{noteCreatedMessage}}
</div>
</div>
<div *ngIf="notesFromEF">
  <div *ngFor="let note of notesFromEF" class="container-fluid">
    <div class="card m-2 card-sm">
      <div class="card-header  bg-light">Message from {{note.createBy}} : {{note.message}} Last updated by: {{note.lastModifiedBy}}</div>
      <div class="card-body">
        <!-- <div *ngIf="!editMode">Message: {{ note.message }}</div> -->
        <div >
          Message:<input type="text" required="true" value="" #editMessage value="{{note.message}}" name="editMessage" >
        </div>
        <div *ngIf="!editMode">Urgent: {{ note.isUrgent ? 'Yes' : 'No' }}</div>
        <div *ngIf="!editMode">Create Date: {{ note.createDate | date}} </div>
        <div *ngIf="!editMode">Last Updated Date: {{ note.lastModifiedDate | date}} </div>
        
        <div *ngIf="editMode">
          Urgent:<input type="checkbox" id="chkIsUrgent" value="Urgent" checked="{{note.isUrgent}}" #chkIsUrgent >
          {{note.isUrgent}}
          <mat-checkbox check="true">
          </mat-checkbox>
          
        </div>
        <div *ngIf="!editMode" class="m-2">
         <button class="btn btn-danger btn-sm" (click) ="deleteNote(note)" >Delete</button>
        </div>
         
         <div *ngIf="!editMode" class="m-2">
           <button class="btn btn-primary btn-sm"  (click) ="editNote()" >Edit</button>
         </div>
         <div *ngIf="editMode" class="m-2">
           <button class="btn btn-primary btn-sm m-2"  (click) ="updateNote(note,editMessage.value)" >Update</button>
           <button class="btn btn-primary btn-sm m-2" (click) ="cancel()" >Cancel</button>
         </div>
      </div>
    </div>
  
  
  </div>
  
</div>



 